.background {
	-fx-background-color: #DCDCDC;
}

.button {
	-fx-background-color: transparent;
	-fx-color: white;
	-fx-background-radius: 1;
	-fx-border-style: solid;
	-fx-border-width: 2;
}

.button:hover {
	-fx-border-color: #0000CD;
	-fx-text-fill: #0000CD;
}

.button:pressed {
	-fx-background-color: white;
	-fx-border-color: #000000;
	-fx-text-fill: #000000;
}

.combo-box {
	-fx-background-color: transparent;
	-fx-border-color: #000000;
	-fx-background-radius: 1;
	-fx-border-style: solid;
	-fx-border-width: 2;
}

.combo-box:hover {
	-fx-border-color: #0000CD;
	-fx-text-fill: #0000CD;
}

.list-view {
	-fx-border-style: solid;
	-fx-border-width: 2;
}

.list-view:hover {
	-fx-border-color: #0000CD;
}