.background {
	-fx-background-color: white;
}

.text-field {
	-fx-border-color: #A9A9A9;
	-fx-border-radius: 8;
	-fx-background-color: transparent;
	-fx-background-radius: 8;
	-fx-border-width: 1;
}

.text-field:focused {
	-fx-border-color: #4169E1;
}

.button {
	-fx-background-color: #0000EE;
	-fx-background-radius: 18;
}

.button:hover {
	-fx-background-color: #0000FF;
}

.button:pressed {
	-fx-background-color: #0000CD;
}