.background {
	-fx-background-color: white;
}

.button {
	-fx-background-color: #4169E1;
	-fx-background-radius: 6;
}

.button:hover {
	-fx-background-color: #0000FF;
}

.button:pressed {
	-fx-background-color: #0000CD;
}